body {
    width: 800px;
    margin: auto;
}
h1 {
    text-align: center;
    background-color: royalblue;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
}